<template>
  <div id="app">
    Clicked: {{ $store.state.count }} times, count is {{ evenOrOdd }}.
    <button @click="increment">+</button>
    <button @click="decrement">-</button>
    <button @click="incrementIfOdd">Increment if odd</button>
    <button @click="incrementAsync">Increment async</button>
  </div>
</template>

<script lang="ts">
import {Store} from "./store"

export default class extends Store.bind({
  computed: ['evenOrOdd'],
  methods: ['increment', 'decrement', 'incrementIfOdd', 'incrementAsync']
}) {}
</script>
