<template>
  <div id="app">
    Clicked: {{ count }} times, count is {{ evenOrOdd }}.
    <button @click="increment">+</button>
    <button @click="decrement">-</button>
    <button @click="incrementIfOdd">Increment if odd</button>
    <button @click="incrementAsync">Increment async</button>
  </div>
</template>

<script lang="ts">
import store from "./store"

export default {
  computed: {
    count: () => store.count,
    evenOrOdd: () => store.evenOrOdd
  },
  methods: {
    increment () { store.increment() },
    decrement () { store.decrement() },
    incrementIfOdd () { store.incrementIfOdd() },
    incrementAsync () { store.incrementAsync() },
  }
}
</script>
