<template>
  <div class="message-section">
    <h3 v-if="thread" class="message-thread-heading">{{ thread.name }}</h3>
    <ul class="message-list" ref="list">
      <message
        v-for="message in messages"
        :key="message.id"
        :message="message">
      </message>
    </ul>
    <textarea
      class="message-composer"
      v-model="text"
      @keyup.enter="sendMessage"></textarea>
  </div>
</template>

<script lang="ts">
import Message from './Message.vue'
import store from '../store'

import Vue from 'vue'
import Component from 'vue-class-component'

@Component({
  components: { Message },
  watch: {
    'thread.lastMessage': 'scrollToBottom'
  },
})
export default class MessageSection extends Vue {
  text: string = ''

  get thread () { return store.currentThread }
  get messages () { return store.sortedMessages }

  sendMessage () {
    if (this.text.trim()) {
      store.sendMessage(this.text, this.thread)
      this.text = ''
    }
  }

  scrollToBottom () {
    this.$nextTick(() => {
      const ul = this.$refs.list as Element
      ul.scrollTop = ul.scrollHeight
    })
  }
}
</script>
