<template>
  <ul>
    <li v-for="product in products">
      {{ product.title }} - {{ product.price | currency }}
      <br>
      <button
        :disabled="!product.inventory"
        @click="addProductToCart(product)">
        Add to cart
      </button>
    </li>
  </ul>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import store from '../store'
import {IProduct} from "../api/shop"

@Component
export default class ProductList extends Vue {
  get products () { return store.products.all }

  addProductToCart (product: IProduct) { store.cart.addProductToCart(product) }

  async created () { await store.products.getAllProducts() }
}
</script>
