<template>
  <div class="cart">
    <h2>Your Cart</h2>
    <p v-show="!products.length"><i>Please add some products to cart.</i></p>
    <ul>
      <li v-for="product in products">
        {{ product.title }} - {{ product.price | currency }} x {{ product.quantity }}
      </li>
    </ul>
    <p>Total: {{ total | currency }}</p>
    <p><button :disabled="!products.length" @click="checkout(products)">Checkout</button></p>
    <p v-show="checkoutStatus">Checkout {{ checkoutStatus }}.</p>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import store from '../store'
import {IProduct} from "../api/shop"

@Component
export default class ProductList extends Vue {
  get checkoutStatus () { return store.cart.checkoutStatus }
  get products () { return store.cart.cartProducts }
  get total () { return store.cart.cartTotalPrice }

  async checkout (products: IProduct[]) { await store.cart.checkout(products) }
}

</script>
